* {
    box-sizing: border-box;
    margin: auto;
}

* {
    text-decoration: none;
    font-family: 微軟正黑體
}

[class^="container"] {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    * {
        font-size: 12px;
    }
}


/*class的開頭是container，皆能用此設定*/